
<form #searchForm="ngForm" (ngSubmit)="searchForm.valid && onSubmit()">
    <h1>Rechercher un Wilder !</h1>
    <div class="fieldset">
      <input id="search" name="seach" type="text" [(ngModel)]="fieldContent" required minlength="1" [placeholder]="defaultValue ? 'Recherche actuelle: '+defaultValue : 'Entrer le nom d\'un Wilder !'" >
      <button type="submit" [disabled]="searchForm.invalid" >Rechercher</button>
    </div>
</form>

<div class="socialcontainer">
  <h2>Suivez nous: </h2>
  <div>
    @for (btn of buttons; track $index) {
      <app-button (messageFromChild)="messageReceivedFromChild($event)" [title]="btn.title" [color]="btn.color" [txtcolor]="btn.txt_color"></app-button>
    }
  </div>
  <p>{{ messageChild }}</p>
</div>

